html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

.container {
	display: flex;
	width: 900px;
	height: 2000px;
	margin: 0 auto;
}


#navmenu {
	width: 70%;
	height: 50px;
}

#tabs {
	display: flex;
    font-size: 20px;
    background: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#tabs li {
	padding: 10px 25px;
}

#tabs a {
	color: black;
	text-decoration: none;
}



.nav {
	display: none;
}

.reservations {
	display: flex;
	flex-direction: column;
	width: 600px;
}



