html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

.container {
	display: flex;
	width: 900px;
	height: 2000px;
	margin: 0 auto;
}
<<<<<<< HEAD


.reservations {
	display: flex;
	flex-direction: column;
	width: 600px;
}
=======
>>>>>>> c2355d020639223b0346ab129b20d3f0b13950da
